<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://infotrakiis/UCTest</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>infotrakiis</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/UCTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>INFOTRAK\TomAdmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InfoTrakDataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=INFOTRAKSQL\SQL2008R2;Initial Catalog=TrackGET_Test;Integrated Security=False;Persist Security Info=True;User ID=infotrak;Password=##pass" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="InfoTrakMobileService.DataAccess.Model.InfoTrakDataEntities, InfoTrakMobileService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TTDALConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=INFOTRAKSQL\SQL2008R2;Initial Catalog=TrackGET_Test;Integrated Security=False;Persist Security Info=True;User ID=infotrak;Password=##pass;Packet Size=4096;Application Name=&quot;Undercarriage Mobile Service&quot;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DAL.GETContext, DAL" MigrationConfiguration="DAL.GETMigrations.Configuration, DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InfoTrakDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.Model.InfoTrakModel.csdl|res://*/DataAccess.Model.InfoTrakModel.ssdl|res://*/DataAccess.Model.InfoTrakModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=INFOTRAKSQL\SQL2008R2;Initial Catalog=TrackGET_Test;Integrated Security=False;Persist Security Info=True;User ID=infotrak;Password=##pass"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TTDALConnection-Web.config Connection String">
      <ParameterValue>Data Source=INFOTRAKSQL\SQL2008R2;Initial Catalog=TrackGET_Test;Integrated Security=False;Persist Security Info=True;User ID=infotrak;Password=##pass;Packet Size=4096;Application Name="Undercarriage Mobile Service"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>